<div class="center jumbotron">
  <h1>Welcome to the xmfun webapp</h1>

  <h2>
    This is the home page for the
    <a href="http://www.xmfun.me">xmfun</a>
    web application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("xmfun.png", alt: "xmfun logo"),
  'http://www.xmfun.me' %>
