<% provide(:title, @user.name) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

<%= javascript_include_tag "ractive" %>

<form id="search">
  <input id="search-box" type="text" placeholder="Search...">
</form>

<div id='container' class="viewer_container"><!-- ractive --></div>
  <% #TODO requirejs, load template, add more template, add more column in template%>
<script type="text/html" id="tracklist_template">

    <table class='track_list'>
      <tr>
        <th>song name</th>
        <th>artist name</th>
        <th>album name</th>
      </tr>

    {{#each track_list}}
      <tr>
        <td><a href='{{link}}'>{{name}}</a></td>
        <td><a href='{{artist_link}}'>{{artist_name}}</a></td>
        <td><a href='{{album_link}}'>{{album_name}}</a></td>
      </tr>
    {{/each}}
    </table>
</script>

<script>
  $(document).ready(function() {
    var tracklist_template = $('#tracklist_template').html();
    var controller = new Ractive({
  	  el: 'container',
  	  template: tracklist_template,
  	  data: {
  		  track_list: {}
  	  }
    });

    $("#search-box").keyup (function (event) {
      var keyword = $(this).val();
      $.ajax({
          url: "/search/" + keyword,
      }).then( function ( search_result ) {
        controller.reset(search_result);
      });
    });
  });
</script>

